{% extends "base.html" %}
{% block content %}
	<div class="container mb-5">
	<div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Health and Safety Protocol!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h6>
		The health and safety of our team members and guests has always been our number one priority at Restaurant Online.
		 
		We are following all protocols mandated by the government, and are continuously updating our safety protocols accordingly. 
		 
		Please read on for the practices and policies we currently have in place to keep you and our team safe. We thank you for your cooperation.</h6>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>WORKPLACE PRACTICES!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h6>
			​
			Our employees are following industry protocol to remain safe and healthy. This includes, but is not limited to: 
			 
			Increased hand washing and work area sanitation, restrooms and high-touch zones sanitized frequently.
			 
			Staff will be wearing masks, washing hands often.
			 
			Staff will be following our new Steps of Service, which promotes less contact and a modified service style. 
			​
			​
			Thank you so much for your cooperation and patience during this tough time!</h6>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>GUEST EXPECTATIONS!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h6>
			​
			Guests must wear face masks when picking up food.
			Cash is only accepted for exact payment – no change will be provided.
			All guests are asked to respect distancing protocols in place and follow appropriate direction from our staff!</h6>
        </div>
    </div>
</div>

{% endblock content %}
