
{% extends "base.html" %}
{% block content %}
<!--------Hero--------> 
<!---tried to make use of an image carousel + animation effects but failed. Didn´t delete everything here and in the css--->

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="../static/hero4.jpg" style="width:100%">
  <div class="text">
    <h1>Herzlich Willkommen bei Restaurant Online</h1>
    <p>Hier finden Sie Frische und authentische Asiatische Küche.</p>
    <a href="https://lexical-sol-294408.ew.r.appspot.com/" class="btn-get-started">Hier bestellen!</a>
  </div>
</div>

<div class="mySlides fade">
  <img src="../static/hero1.jpg" style="width:100%">
  <div class="text">
    <h1>Herzlich Willkommen bei Restaurant Online</h1>
    <p>Hier finden Sie Frische und authentische Asiatische Küche.</p>
    <a href="https://lexical-sol-294408.ew.r.appspot.com/" class="btn-get-started">Hier bestellen!</a>
  </div>
</div>

<div class="mySlides fade">
  <img src="../static/hero3.jpg" style="width:100%">
  <div class="text">
    <h1>Herzlich Willkommen bei Restaurant Online</h1>
    <p>Hier finden Sie Frische und authentische Asiatische Küche.</p>
    <a href="https://lexical-sol-294408.ew.r.appspot.com/" class="btn-get-started">Hier bestellen!</a>
  </div>
</div>

</div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
{% endblock content %}