{% extends "base.html" %}
{% block content %}
<section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
      	<h3>Vorspeisen</h3>
        <div class="col-md-12 marb-35">


        <div id="menu-wrapper">

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Frühlingsrolle</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">4€</span>
            </span>
            <span class="menu-subtitle">1 Stück</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Vegetarische Frühlingsrollen</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">4€</span>
            </span>
            <span class="menu-subtitle">3 Stück</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Frittierte Garnelen</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">8€</span>
            </span>
            <span class="menu-subtitle">mit Chilisoße</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Frittierter Tintenfisch</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">6€</span>
            </span>
            <span class="menu-subtitle">mit Chilisoße</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Knusprige Wan-Tan</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">6€</span>
            </span>
            <span class="menu-subtitle">mit süß-saurer Soße</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Kroepoek</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">3€</span>
            </span>
            <span class="menu-subtitle">Krabbenchips</span>
          </div>
        </div>
      </div>

  <div class="container">
    <div class="row">
      <h3>Hauptspeisen</h3>
        <div class="col-md-12 marb-35">

        <div id="menu-wrapper">

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebratener Reis </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">10€</span>
            </span>
            <span class="menu-subtitle">mit Hühnerfleisch, Eiern und Sojasprossen</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Nasi-Goreng</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">12€</span>
            </span>
            <span class="menu-subtitle">mit Curry, Garnelen und Hühnerfleisch</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Chinesische Reisnudeln </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">13€</span>
            </span>
            <span class="menu-subtitle">mit Eiern, Hühnerfleisch und Garnelen</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebratene Nudeln </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">10€</span>
            </span>
            <span class="menu-subtitle">mit Eiern, Sojasprossen und Hühnerfleisch</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Bami-Goreng</a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">12€</span>
            </span>
            <span class="menu-subtitle">mit Curry, Garnelen und Hühnerfleisch</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebratenes Schweinefleisch </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">14€</span>
            </span>
            <span class="menu-subtitle">mit verschiedenem Gemüse </span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebratenes Schweinefleisch in süß-sauer Soße </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">13€</span>
            </span>
            <span class="menu-subtitle"></span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Rindfleisch mit verschiedenem Gemüse </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">14€</span>
            </span>
            <span class="menu-subtitle"></span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Hühnerfilet mit Curry  </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">13€</span>
            </span>
            <span class="menu-subtitle"></span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Knuspriges Hühnerfilet à la Malaysia </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">14€</span>
            </span>
            <span class="menu-subtitle">mit Curry und Gemüse</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Knuspriges Hühnerfilet mit frischer Mango </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">14€</span>
            </span>
            <span class="menu-subtitle"></span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Knusprige Ente mit acht Kostbarkeiten  </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">16€</span>
            </span>
            <span class="menu-subtitle">in Knoblauch Soße </span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Knusprige Ente mit Ananas in süß-sauer Soße  </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">15€</span>
            </span>
            <span class="menu-subtitle"></span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gemischte Gemüseplatte </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">11€</span>
            </span>
            <span class="menu-subtitle">mit Tofu und Knoblauch Soße</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gegrillter Lachs </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">18€</span>
            </span>
            <span class="menu-subtitle">mit Champignons in schwarzer Bohnen-Soße </span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebratene Garnelen </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">18€</span>
            </span>
            <span class="menu-subtitle">mit grünen Bohnen und Champignons in schwarzer 
              Bohnen-Soße
            </span>
          </div>
        </div>
      </div>
        <div class="container">
          <div class="row">
           <h3>Dessert</h3>
            <div class="col-md-12 marb-35">

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebackene Banane  </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">4€</span>
            </span>
            <span class="menu-subtitle">mit Honig</span>
          </div>

          <div class="menu-restaurant">
            <span class="clearfix">
              <a class="menu-title">Gebackenes Eis </a>
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">6€</span>
            </span>
            <span class="menu-subtitle">mit Honig und Mandeln</span>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </section>
{% endblock content %}