{% extends "base.html" %}
{% block content %}
	<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>WORKPLACE PRACTICES!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>
			WORKPLACE PRACTICES
			​
			Our employees are following industry protocol to remain safe and healthy. This includes, but is not limited to: 
			 
			Increased hand washing and work area sanitation, restrooms and high-touch zones sanitized frequently.
			 
			Staff will be wearing masks, washing hands often.
			 
			Staff will be following our new Steps of Service, which promotes less contact and a modified service style. 
			​
			​
			Thank you so much for your cooperation and patience during this tough time!
        </div>
    </div>
</div>

{% endblock content %}
